<h2>Configuração</h2>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <p>Pasta onde estão os widgets em seu projeto</p>
            <div class="input-group">
                <input type="text" id="widgetsPath" class="form-control" placeholder="c:/" ng-model="path">
                <div class="input-group-btn">
                    <label class="btn btn-default" for="widgetsDirectory">Procurar</label>
                </div>
            </div>
            <input type="file" id="widgetsDirectory" class="hide" value="" webkitdirectory directory>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <p>Configurar qual nome do arquivo onde estão as tarefas do widget</p>
            <div class="input-group">
                <span class="input-group-addon">Tarefas cutomizadas</span>
                <input type="text" id="widgetsPath" placeholder="gulpfile.js"  class="form-control"  ng-model="gulpfile">
            </div>
        </div>
    </div>
</div>
