<h2>Widgets <small><a href="javascript:void(0)" ng-click="refresh()"><i class="fa fa-refresh"></i></a></small></h2>
<hr>
<div class="input-group">
    <input type="text" class="form-control" placeholder="Buscar...">
    <div class="input-group-btn">
        <button ng-click="term = ''">Limbar</button>
    </div>
</div>
<ul class="list-group">
    <li class="list-group-item" ng-repeat="widget in widgets track by $index">
        <strong>{{widget.title}}</strong>
        <small>{{widget.description}}</small>
        <pre><code>{{widget}}</code></pre>
    </li>
</ul>
