<!DOCTYPE html>
<html lang="en" ng-app='app'>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <!-- <link rel="stylesheet" href="./css/bootstrap-theme.css"> -->
    <link rel="stylesheet" href="./css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/main.css">
    <title>WidgetBuilder</title>
</head>
<body>

<div class="navbar navbar-default navbar-fixed-top">
        <ul class="nav navbar-nav">
            <li><a href="#widgets">Widgets</a></li>
            <li><a href="#tasks">Tarefas</a></li>
            <li><a href="#gulp">Gulp</a></li>
            <li><a href="#config">Configurações</a></li>
        </ul>
</div>


<div class="container-fluid">
    
    
</div>

<div class="container-fluid">
    
<div class="row">
    <div class="col-xs-12">
        <ng-view></ng-view>
    </div>
</div>

</div>

    
<script type="text/ng-template" id="configs.html" >
    <h2>Configuração</h2>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <p>Pasta onde estão os widgets em seu projeto</p>
            <div class="input-group">
                <input type="text" id="widgetsPath" class="form-control" placeholder="c:/" ng-model="path">
                <div class="input-group-btn">
                    <label class="btn btn-default" for="widgetsDirectory">Procurar</label>
                </div>
            </div>
            <input type="file" class="hide" value="" id="widgetsDirectory" webkitdirectory directory>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <p>Configurar qual nome do arquivo onde estão as tarefas do widget</p>
            <div class="input-group">
                <span class="input-group-addon">Tarefas cutomizadas</span>
                <input type="text" placeholder="gulpfile.js"  class="form-control"  ng-model="gulpfile">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <p>Configuração de editor</p>
            <div class="input-group">
                <span class="input-group-addon">Local do executavel ou comando</span>
                <input type="text" placeholder="atom"  class="form-control"  ng-model="editor_exec">
                <div class="input-group-btn">
                    <label class="btn btn-default" for="editorExecutable">Procurar</label>
                </div>
            </div>
            <input type="file" class="hide" value="" id="editorExecutable" fileselector>
        </div>
    </div>
</div>

  <div class="form-group">
    <label for="cmd">Terminal</label>
    <input type="text" class="form-control" id="cmd" placeholder="Password" ng-model='terminal_exec'>
  </div>

</script>

<script type="text/ng-template" id="gulp.html" >
    <div class="row">
    <div class="col-sm-6">
        <small>File: {{gulpfile.name}}</small>
        <ul>
            <li ng-repeat="task in gulpfile.tasks">
                <a href="javascript:void(0)" ng-click="run(task)">{{task}}</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-6"></div>
</div>

<button type="button" name="button" ng-click="run()">
    run</button>
<code>
    <pre>
        <span ng-repeat="log in logs track by $index" ng-bind-html="log"></span>
    </pre>
</code>

</script>

<script type="text/ng-template" id="tasks-form.html" >
    <a type="button" class="btn btn-default navbar-btn" href="#tasks">voltar</a>

<div class="form-group">
    <label for="task_name">Nome</label>
    <input type="text" class="form-control" id="task_name" ng-model="task.name">
</div>

<div class="form-group">
    <label for="task_depends">Dependencias</label>
    <input type="text" class="form-control" id="task_depends" ng-model="task.denedencies">
</div>

<h3>Tarefas</h3>

<div class="row">


</div>
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            src()
            <i class="fa fa-angle-down"></i>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#"><i class="fa fa-plus"></i> Adicionar</a></li>
            <li><a href="#"><i class="fa fa-pencil"></i> Editar</a></li>
            <li><a href="#"><i class="fa fa-trash-o"></i> Remover</a></li>
            <li><a href="#"><i class="fa fa-ban"></i> Desativar</a></li>
        </ul>
    </div>
    <i class="fa fa-long-arrow-right"></i>
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            sourcemaps.init()
            <i class="fa fa-angle-down"></i>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#"><i class="fa fa-pencil"></i> Editar</a></li>
            <li><a href="#"><i class="fa fa-trash-o"></i> Remover</a></li>
            <li><a href="#"><i class="fa fa-ban"></i> Desativar</a></li>
        </ul>
    </div>
    <i class="fa fa-long-arrow-right"></i>
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            sourcemaps.init()
            <i class="fa fa-angle-down"></i>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#"><i class="fa fa-pencil"></i> Editar</a></li>
            <li><a href="#"><i class="fa fa-trash-o"></i> Remover</a></li>
            <li><a href="#"><i class="fa fa-ban"></i> Desativar</a></li>
        </ul>
    </div>
    <i class="fa fa-long-arrow-right"></i>
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            gulp.dest()
            <i class="fa fa-angle-down"></i>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#"><i class="fa fa-pencil"></i> Editar</a></li>
            <li><a href="#"><i class="fa fa-trash-o"></i> Remover</a></li>
            <li><a href="#"><i class="fa fa-ban"></i> Desativar</a></li>
        </ul>
    </div>

</script>

<script type="text/ng-template" id="tasks.html" >
    <h2>Tarefas</h2>
<a type="button" class="btn btn-default navbar-btn" href="#tasks/new">+</a>

</script>

<script type="text/ng-template" id="widget-view.html" >
    <ol class="breadcrumb">
  <li><a href="#widgets">Widgets</a></li>
  <li class="active">{{widget.title|default:'Widget sem nome'}}</li>
</ol>
<div ng-repeat="(key,value) in widget | orderBy:key " class="row">
    <strong class="col-xs-2">{{key}}:</strong><span class="col-xs-10">{{value}}</span>
</div>

</script>

<script type="text/ng-template" id="widgets.html" >
    <ol class="breadcrumb">
  <li class="active">Widgets</li>
</ol>

<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">Widgets - {{results.length}}/{{widgets.length}}</span>
        <input type="text" class="form-control" placeholder="Filtrar por ..." ng-model="term">
        <div class="input-group-btn">
            <button class="btn btn-info" ng-click="term = ''">Limpar</button>
            <button class="btn btn-info" ng-click="refresh(1)"><i class="fa fa-refresh" ng-class="{'loading-icon':loading}"></i></button>
        </div>
    </div>
</div>

<div class="row" ng-if="!loading">
    <div class="col-sm-6 col-md-4" ng-repeat="widget in widgets | orderBy:'title' | filter:filterTerm as results track by $index">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a href="#widget/{{widget.folder}}">{{widget.title|default:'Widget sem nome'}}</a></h3>
            </div>
            <div class="panel-body">
                {{widget.description}}
            </div>
            <div class="panel-footer">
                <a class="btn" href="javascript:void(0)" ng-click="open(widget.path)"><i class="fa fa-file-code-o"></i></a>
                <a class="btn" href="javascript:void(0)" ng-click="open(widget.path,'explorer %cd%')"><i class="fa fa-folder-open-o"></i></a>
                <a class="btn" href="javascript:void(0)" ng-click="open(widget.path,terminal_exec)"><i class="fa fa-terminal"></i></a>
                <a class="btn" href="javascript:void(0)" ng-click="updateXMLonServer(widget)"><i class="fa fa-database"></i></a>
                <a class="btn" href="javascript:void(0)" ng-if="!!widget.gulpfile" ng-click="open(widget.path,'start /D %cd% gulp')"><i class="fa fa-tasks"></i></a>
            </div>
        </div>
    </div>
    <div class="alert alert-warning" role="alert" ng-if="results.length == 0">
        <strong>Nenhum widget encontrado</strong>
    </div>
</div>

</script>


    <script src="./js/bundle.js" charset="utf-8"></script>
    <script src="./js/jquery.min.js" charset="utf-8"></script>
    <script src="./js/dropdown.js" charset="utf-8"></script>

</body>
</html>
